<h1>New task</h1>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{#each error in errors.name}}
      <span class="text-danger">{{error.message}}</span>
    {{/each}}
    {{input type="text" id="name" class="form-control" value=name}}
  </div>
  <button {{action createTask}} class="btn btn-primary">Create task</button>
</form>

<p>{{name}}</p>
