<div class="col-md-8">
  <h1>Tasks</h1>
  <ul>
    {{#each task in controller itemController='task'}}
      <li>{{input type="checkbox" class="toggle" checked=done}}
        {{#link-to 'task' task}}{{task.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
  {{#link-to 'new_task' class="btn btn-primary"}}New task{{/link-to}}
</div>
<div class="col-md-4">
  {{outlet}}
</div>
